
@media (max-width: 2500px) {
  .container-academia {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../imagens/background-ultrawide06.png");
    background-repeat: no-repeat;
    background-image: 100%;
    height: 600px;
    padding: 200px;
  }

  .exercicios-tipos-pax{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .container-academia h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #006b2c;
  }

  .container-academia label {
    font-size: 15px;
    font-weight: 500;
    width: 40%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #006b2c;
  }
  .container-academia button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 30%;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .cont-academia {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .personal-trainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../imagens/background-ultrawide07.png");
    background-repeat: no-repeat;
    background-image: 1950px;
    height: 1000px;
    padding: 200px;
  }

  .personal-trainer h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
  }

  .personal-trainer label {
    font-size: 15px;
    font-weight: 500;
    width: 30%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
  }
  .personal-trainer button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 30%;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .estrutura-moderna {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../imagens/background-ultrawide08.png");
    background-repeat: no-repeat;
    background-image: 100%;
    height: 600px;
    padding: 200px;
  }

  .estrutura-moderna2 h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
  }

  .estrutura-moderna2 label {
    font-size: 15px;
    font-weight: 500;
    width: 80%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
  }

  .estrutura-moderna2 {
    background-color: rgba(0, 106, 50, 0.5);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .estrutura-moderna2 button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 40%;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .servico-complementares {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .servico-complementares h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #006b2c;
  }

  .dois-serviços {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nutricionista {
    width: 50%;
    background-image: url("../../imagens/background08.png");
    background-size: 100%;
    height: 650px;
    background-position: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    text-align: center;
  }

  .fundo-profissionais {
    width: 70%;
  }

  .fundo-profissionais button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 60%;
    margin-top: -10px;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .fundo-profissionais h1 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    background-color: rgba(0, 106, 50, 0.5);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    width: 100%;
  }

  .fisioterapeuta {
    width: 50%;
    text-align: center;
    padding: 50px;
    background-image: url("../../imagens/background09.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    background-position: center;
    justify-content: center;
  }
}

@media (max-width: 1500px) {
  .container-academia {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../imagens/background05.png");
    background-repeat: no-repeat;
    background-image: 100%;
    height: 600px;
    padding: 200px;
  }

  .container-academia h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #006b2c;
  }

  .container-academia label {
    font-size: 15px;
    font-weight: 500;
    width: 70%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #006b2c;
  }
  .container-academia button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 30%;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .cont-academia {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .personal-trainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../imagens/background06.png");
    background-repeat: no-repeat;
    background-image: 100%;
    height: 600px;
    padding: 200px;
  }

  .personal-trainer h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
  }

  .personal-trainer label {
    font-size: 15px;
    font-weight: 500;
    width: 30%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
  }
  .personal-trainer button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 30%;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .estrutura-moderna {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../../imagens/background07.png");
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: 100%;
    height: 700px;
    padding: 200px;
  }

  .clock-gym{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .clock-gym label{
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #006b2c;
  }

  .clock-gym button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 60%;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .clock-gym2{
    width: 60%;
  }

  .clock-gym h1{
    font-size: 40px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #006b2c;
  }
  .estrutura-horario {
    width: 100%;
    display: flex;
    background-image: url("../../imagens/background16.jpg");
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    padding: 200px;
  }
  

  .estrutura-moderna2 h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
  }

  .estrutura-moderna2 label {
    font-size: 15px;
    font-weight: 500;
    width: 80%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
  }

  .estrutura-moderna2 {
    background-color: rgba(0, 106, 50, 0.5);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .estrutura-moderna2 button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 40%;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .servico-complementares {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .servico-complementares h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #006b2c;
  }

  .dois-serviços {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nutricionista {
    width: 50%;
    background-image: url("../../imagens/background08.png");
    background-size: 100%;
    height: 650px;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    text-align: center;
  }

  .fundo-profissionais {
    width: 70%;
  }

  .fundo-profissionais button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 60%;
    margin-top: -10px;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .fundo-profissionais h1 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    background-color: rgba(0, 106, 50, 0.5);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    width: 100%;
  }

  .fisioterapeuta {
    width: 50%;
    text-align: center;
    padding: 50px;
    background-image: url("../../imagens/background09.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .container-academia {
    background-image: url("../../imagens/background03-mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 650px;
    display: flex;
    justify-content: start;
    padding: 30px;
  }

  .container-academia h1 {
    margin-top: 150px;
    font-size: 40px;
  }

  .container-academia label {
    font-size: 15px;
    width: 77%;
    margin-top: 5px;
  }

  .container-academia button {
    width: 50%;
  }

  .personal-trainer {
    background-image: url("../../imagens/background04-mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }

  .personal-trainer h1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    width: 80%;
    font-size: 30px;
    margin-top: 300px;
    background-color: #006b2c;
    padding: 10px;
  }

  .personal-trainer label {
    background: rgb(128, 212, 169);
    width: 80%;
    text-align: center;
    padding: 20px;
  }

  .personal-trainer button {
    width: 70%;
    margin-top: -10px;
  }

  .estrutura-moderna {
    background-size: 200%;
    background-position: center;
    padding: 40px;
    width: 100%;
    height: 400px;
  }

  .estrutura-moderna2 {
    width: 100%;
    padding: 15px;
  }

  .estrutura-moderna2 h1 {
    font-size: 30px;
  }

  .estrutura-moderna2 button {
    width: 100%;
  }

  .servico-complementares {
    width: 100%;
    text-align: center;
  }

  .servico-complementares h1 {
    font-size: 30px;
  }

  .dois-serviços {
    display: flex;
    flex-direction: column;
  }

  .nutricionista {
    width: 100%;
    height: 375px;
  }

  .fundo-profissionais {
    width: 100%;
  }

  .fundo-profissionais button {
    width: 90%;
  }

  .fisioterapeuta {
    width: 100%;
    height: 375px;
  }

  .estrutura-horario {
    background-image: url("../../imagens/background09-mobile.png");
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    height: 700px;
    flex-direction: row-reverse;
  }

  .clock-gym2{
    display: none;
  }

  .clock-gym{
    width: 100%;
    margin-bottom: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .clock-gym h1{
    text-align: center;
    font-size: 30px;
  }

  .clock-gym label{
    text-align: center;
    font-size: 14px;
    width: 80%;
  }

  .exercicios-tipos-pax img{
    width: 15%;
  }

}
