
@media (max-width: 2500px) {
  .slide {
    width: 100%;
    background-image: url("../../imagens/background-ultrawide01.png");
    height: 664px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    padding: 100px;
  }
  .each-slide-effect div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
  }

  .color-a {
    color: white;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .espaco-primavera1 {
    width: 50%;
  }
  
  .espaco-primavera2 {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
  }
  
  .primavera1 {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  
  .espaco-primavera2 h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: #006b33;
  }
  
  .primavera1 p {
    background-color: #006a32;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
  }
  
  .primavera2 {
    margin-top: 10px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #006b33;
  }
  
  .espaco-primavera2 button {
    z-index: 3;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .info-espaco {
    width: 35%;
  }
  
  .profissionais-especialistas {
    width: 100%;
    background-image: url("../../imagens/background-ultrawide02.png");
    height: 664px;
    display: flex;
    padding: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .profissionais-especialistas h1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 100px;
    justify-content: start;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #006b33;
  }
  
  .profissionais-especialistas label {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 40%;
    color: #006b33;
  }
  
  .profissionais-especialistas button {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }
  
  .slide-mobile {
    display: none;
  }
  
  .info-espaco button {
    z-index: 3;
    margin-left: 25px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: -20px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }
  
  /* home.css */
  .image-container {
    width: 100%;
    /* Defina a largura desejada para as imagens */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    /* Cor de fundo das imagens */
  }
  
  .image-container img {
    max-width: 100%;
    /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 100%;
    /* Garante que a imagem não ultrapasse a altura do contêiner */
    object-fit: cover;
    /* Redimensiona a imagem para preencher o contêiner mantendo a proporção */
  }
  
  .duvida-mobile {
    display: none;
  }
  
  .three-option {
    display: flex;
    align-items: center;
    gap: 10%;
    text-align: center;
    padding: 80px;
    color: #006a32;
    justify-content: center;
    width: 100%;
  }
  
  .option-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: 303px;
  }
  
  .option-icons label {
    font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    color: white;
  }
  
  .option-icons p {
    font-weight: 600;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
  }
  
  .option-icons button {
    border-radius: 5px;
    background-color: white;
    color: #006a32;
    border: none;
    outline: none;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  
  .plano-home {
    width: 100%;
    background-image: url("../../imagens/background-ultrawide03.png");
    height: 664px;
    display: flex;
    padding: 100px;
  }
  
  .plano-home h1 {
    color: white;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  
  .plano-home label {
    color: white;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .option-icons {
    padding: 50px;
    background-color: #006a32;
    border-radius: 10px;
  }
  
  .tipos-plano-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    width: 90%;
  }
  
  .luxo-home {
    background-color: #f0e60a;
    color: #006a32;
    padding: 25px;
    padding-left: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .luxo-home h3 {
    font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  .plano-luxo-home {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .plano-luxo-home label {
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .adquirir-plano {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .adquirir-plano button {
    background-color: #f0e60a;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    position: absolute;
    font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .plano-luxo-home2 {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    width: 100%;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  .plano-luxo-home2 label {
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .adquirir-plano2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .adquirir-plano2 button {
    background-color: #f0e60a;
    border-radius: 10px;
    position: absolute;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .luxo-home2 {
    background-color: #f0e60a;
    color: #006a32;
    padding: 25px;
    padding-left: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
  }
  
  .luxo-home2 h3 {
    font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  
  .plano-home-mobile{
    display: none;
  }
  .tam-luxo {
    width: 30%;
  }
  
  .imagem-associado {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imagem-associado img {
    width: 70%;
  
    border-radius: 35px;
  }
  
  .title-associado {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .title-associado h1 {
    font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #006a32;
  }
  
  .tipos-atendimentos {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    width: 34%;
    margin-left: 15%;
  }
  
  .fundo-associado h1 {
    color: white;
    font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  
  .fundo-associado label {
    color: white;
    font-weight: 500;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
  }
  
  .tipos-atendimentos-pax {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .tipos-atendimentos label {
    width: 70%;
    text-align: justify;
  }
  
  .tipos-atendimentos button {
    margin-top: 30px;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }
  .title-associado label {
    margin-top: 10px;
    margin-top: 20px;
    color: #006a32;
    text-align: justify;
  }
  
  .atendimentos-pax {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .clinica1 {
    margin-top: 35px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-left: 23%;
  }
  
  .clinica2 {
    margin-top: 90px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-left: 12%;
  }
  
  .clinica3 {
    display: flex;
    gap: 5px;
    margin-top: 90px;
    flex-direction: column;
  }
  
  .clinica1 label {
    font-weight: 500;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #006a32;
  }
  
  .clinica2 label {
    font-weight: 500;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #006a32;
  }
  
  .clinica3 label {
    font-weight: 500;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #006a32;
  }
  
  .icones-van-asso {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .icones-van-asso label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .duvidai-img {
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }
  
  .duvidai-img img {
    width: 50%;
  }
  
  .duvida-info {
    margin-left: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .duvida-info h1 {
    color: white;
    font-weight: 700;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  
  .duvida-info label {
    color: white;
    font-weight: 500;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .duvida-info button {
    width: 20%;
    border: none;
    outline: none;
    background-color: white;
    color: #006a32;
    border: none;
    outline: none;
    font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
  }
  
  .duvida {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #006a32;
    padding-top: 50px;
    width: 100%;
  }
  
  .slide2 {
    display: none;
  }
  
  .imagem-associado2 {
    display: none;
  }
  
  .slide3 {
    display: none;
  }
  
  .associado-pax {
    width: 100%;
    background-image: url("../../imagens/background04.png");
    height: 550px;
    display: flex;
    align-items: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
  }
  
  .fundo-associado {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 100px;
    background-color: rgba(0, 106, 50, 0.5);
    flex-direction: column;
    gap: 20px;
  }
  
  .fundo-associado button {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }
}
@media (max-width: 1500px) {
.each-slide-effect div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.slide {
  width: 100%;
  background-image: url("../../imagens/background01.png");
  height: 664px;
  display: flex;
  align-items: center;
  padding: 100px;
}

.espaco-primavera1 {
  width: 50%;
}

.espaco-primavera2 {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
}

.primavera1 {
  display: flex;
  align-items: center;
  gap: 100px;
}

.espaco-primavera2 h1 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: #006b33;
}

.primavera1 p {
  background-color: #006a32;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50px;
}

.primavera2 {
  margin-top: 10px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #006b33;
}

.espaco-primavera2 button {
  z-index: 3;
  border: none;
  outline: none;
  border-radius: 5px;
}

.info-espaco {
  width: 50%;
}

.profissionais-especialistas {
  width: 100%;
  background-image: url("../../imagens/background02.png");
  height: 664px;
  display: flex;
  padding: 100px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.profissionais-especialistas h1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 100px;
  justify-content: start;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #006b33;
}

.profissionais-especialistas label {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: 40%;
  color: #006b33;
}

.profissionais-especialistas button {
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
  background: rgb(0, 166, 81);
  background: linear-gradient(
    66deg,
    rgba(0, 166, 81, 1) 0%,
    rgba(141, 198, 63, 1) 71%
  );
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.slide-mobile {
  display: none;
}

.info-espaco button {
  z-index: 3;
  margin-left: 25px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: -20px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
  background: rgb(0, 166, 81);
  background: linear-gradient(
    66deg,
    rgba(0, 166, 81, 1) 0%,
    rgba(141, 198, 63, 1) 71%
  );
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

/* home.css */
.image-container {
  width: 100%;
  /* Defina a largura desejada para as imagens */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  /* Cor de fundo das imagens */
}

.image-container img {
  max-width: 100%;
  /* Garante que a imagem não ultrapasse a largura do contêiner */
  max-height: 100%;
  /* Garante que a imagem não ultrapasse a altura do contêiner */
  object-fit: cover;
  /* Redimensiona a imagem para preencher o contêiner mantendo a proporção */
}

.duvida-mobile {
  display: none;
}

.three-option {
  display: flex;
  align-items: center;
  gap: 10%;
  text-align: center;
  padding: 80px;
  color: #006a32;
  justify-content: center;
  width: 100%;
}

.option-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  height: 303px;
}

.option-icons label {
  font-weight: 900;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 100%;
  color: white;
}

.option-icons p {
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
}

.option-icons button {
  border-radius: 5px;
  background-color: white;
  color: #006a32;
  border: none;
  outline: none;
  font-weight: 800;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 10px;
}

.plano-home {
  width: 100%;
  background-image: url("../../imagens/background03.png");
  height: 664px;
  display: flex;
  padding: 100px;
}

.plano-home h1 {
  color: white;
  font-weight: 800;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.plano-home label {
  color: white;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.option-icons {
  padding: 50px;
  background-color: #006a32;
  border-radius: 10px;
}

.tipos-plano-home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
  width: 90%;
}

.luxo-home {
  background-color: #f0e60a;
  color: #006a32;
  padding: 25px;
  padding-left: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.luxo-home h3 {
  font-weight: 900;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.plano-luxo-home {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.plano-luxo-home label {
  color: black;
  display: flex;
  gap: 10px;
  align-items: center;
}

.adquirir-plano {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.adquirir-plano button {
  background-color: #f0e60a;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  position: absolute;
  font-weight: 900;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.plano-luxo-home2 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
  width: 100%;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.plano-luxo-home2 label {
  color: black;
  display: flex;
  gap: 10px;
  align-items: center;
}

.adquirir-plano2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.adquirir-plano2 button {
  background-color: #f0e60a;
  border-radius: 10px;
  position: absolute;
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  font-weight: 900;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.luxo-home2 {
  background-color: #f0e60a;
  color: #006a32;
  padding: 25px;
  padding-left: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}

.luxo-home2 h3 {
  font-weight: 900;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.plano-home-mobile{
  display: none;
}
.tam-luxo {
  width: 30%;
}

.imagem-associado {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-associado img {
  width: 70%;

  border-radius: 35px;
}

.title-associado {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.title-associado h1 {
  font-weight: 900;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #006a32;
}

.tipos-atendimentos {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  width: 50%;
}

.fundo-associado h1 {
  color: white;
  font-weight: 900;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.fundo-associado label {
  color: white;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

.tipos-atendimentos-pax {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tipos-atendimentos label {
  width: 80%;
}

.tipos-atendimentos button {
  margin-top: 30px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
  background: rgb(0, 166, 81);
  background: linear-gradient(
    66deg,
    rgba(0, 166, 81, 1) 0%,
    rgba(141, 198, 63, 1) 71%
  );
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.title-associado label {
  margin-top: 10px;
  margin-top: 20px;
  color: #006a32;
  text-align: justify;
}

.atendimentos-pax {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.clinica1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 65%;
}

.clinica2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 45%;
}

.clinica3 {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  margin-left: 25%;
}

.clinica1 label {
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #006a32;
}

.clinica2 label {
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #006a32;
}

.clinica3 label {
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #006a32;
}

.icones-van-asso {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icones-van-asso label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.duvidai-img {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.duvidai-img img {
  width: 50%;
}

.duvida-info {
  margin-left: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.duvida-info h1 {
  color: white;
  font-weight: 700;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.duvida-info label {
  color: white;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.duvida-info button {
  width: 20%;
  border: none;
  outline: none;
  background-color: white;
  color: #006a32;
  border: none;
  outline: none;
  font-weight: 900;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
}

.duvida {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #006a32;
  padding-top: 50px;
  width: 100%;
}

.slide2 {
  display: none;
}

.imagem-associado2 {
  display: none;
}

.slide3 {
  display: none;
}

.associado-pax {
  width: 100%;
  background-image: url("../../imagens/background04.png");
  height: 500px;
  display: flex;
  align-items: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
}

.fundo-associado {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 100px;
  background-color: rgba(0, 106, 50, 0.5);
  flex-direction: column;
  gap: 20px;
}

.fundo-associado button {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
  background: rgb(0, 166, 81);
  background: linear-gradient(
    66deg,
    rgba(0, 166, 81, 1) 0%,
    rgba(141, 198, 63, 1) 71%
  );
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
}
@media (max-width: 800px) {
  .plano-home {
    padding: 50px;
    padding-top: 100px;
  }
  .plano-home h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .slide {
    display: none;
  }

  .profissionais-especialistas {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slide2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .slide2 img {
    width: 100%;
  }

  .slide2-pax {
    padding: 40px;
    text-align: center;
    color: #006a32;
  }

  .slide2-pax h1 {
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .imagem-convenio {
    width: 100%;
  }

  .imagem-convenio img {
    width: 100%;
  }

  .conteudo-plano-pet {
    width: 100%;
    text-align: center;
  }

  .slide2-pax label {
    padding-top: 15px;
    font-weight: 600;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .slide3-pax {
    padding: 40px;
    text-align: center;
    color: white;
    background-color: #006a32;
  }

  .imagem-espaco-home img {
    width: 100%;
  }

  .slide3-pax h1 {
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .slide3-pax label {
    padding-top: 15px;
    font-weight: 600;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .button-home button {
    border: none;
    outline: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: #f0e60a;
    color: #006a32;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }

  .button-home {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
  }
  .slide2 {
    background-color: #e2dddf;
  }

  .convenio-pet {
    padding: 0px;
  }

  .imagem-convenio {
    width: 100%;
  }

  .image-container2 {
    width: 20%;
    /* Defina a largura desejada para as imagens */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    /* Cor de fundo das imagens */
  }

  .espaco-primavera2 {
    background-color: #006a32;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-espaco button {
    margin-left: 0px;
  }

  .info-espaco {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slide-mobile {
    display: flex;
    width: 100%;
    background-image: url("../../imagens/background01.png");
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container2 img {
    max-width: 50%;
    /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 50%;
    /* Garante que a imagem não ultrapasse a altura do contêiner */
    object-fit: cover;
    /* Redimensiona a imagem para preencher o contêiner mantendo a proporção */
  }

  .each-slide-effect2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 10%;
  }

  .each-slide-effect2 span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
    width: 10%;
  }

  .three-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .tipos-plano-home {
    display: flex;
    flex-direction: column;
  }

  .tam-luxo {
    width: 80%;
  }

  .info-espaco {
    width: 80%;
    margin-top: 150px;
  }

  .luxo-home2 h3 {
    width: 100%;
  }

  .imagem-associado2 {
    display: flex;
    margin-bottom: 50px;
  }

  .imagem-associado2 {
    width: 100%;
  }

  .imagem-associado2 img {
    width: 100%;
  }

  .title-associado {
    width: 100%;
    padding: 30px;
    align-items: center;
  }

  .luxo-home2 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .imagem-associado img {
    width: 100%;
  }

  .title-associado {
    margin-bottom: 50px;
  }
  .imagem-associado {
    display: none;
  }

  .title-associado h1 {
    font-size: 30px;
  }

  .duvida {
    display: none;
  }

  .duvida-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #006a32;
    padding-top: 50px;
    width: 100%;
    justify-content: center;
  }

  .duvida-info {
    width: 80%;
  }

  .primavera1 h1 {
    color: white;
    text-align: center;
  }

  .primavera2 {
    width: 100%;
    text-align: center;
  }

  .primavera2 label {
    color: white;
    width: 100%;
    text-align: center;
  }

  .primavera1 p {
    display: none;
  }

  .duvida-info h1 {
    font-size: 30px;
    text-align: center;
  }
  .duvida-info button {
    width: 100%;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    justify-content: center;
  }

  .duvida-info label {
    text-align: center;
  }

  .duvidai-img {
    display: flex;
    align-items: center;
  }

  .duvidai-img img {
    width: 100%;
  }

  .fundo-associado h1{
    font-size: 22px;
    width: 100%;
    text-align: center;
  }

  .fundo-associado label{
    font-size: 15px;
    width: 100%;
  }

  .fundo-associado{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fundo-associado button{
    width: 100%;
  }

  .associado-pax{
    padding: 15px;
    height: 300px;
  }
  .profissionais-especialistas h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    text-align: center;
    width: 100%;
  }

  .profissionais-especialistas {
    padding-bottom: 100px;
  }
  .profissionais-especialistas button {
    width: auto;
  }

  .profissionais-especialistas label {
    width: 80%;
    text-align: center;
  }

  .profissionais-especialistas {
    margin-top: 50px;
    background-image: url("../../imagens/background01-mobile.png");
    background-size: 100%;
    height: 700px;
  }

  .plano-home {
    display: none;
  }

  .plano-home-mobile {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    background-color: #006a32;
    gap: 15px;
  }

  .plano-home-mobile h1 {
    color: white;
    font-weight: 800;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
  }

  .plano-home-mobile label {
    color: white;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
  }

  .plano-home-mobile button {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 800;
    background: rgb(0, 166, 81);
    background: linear-gradient(
      66deg,
      rgba(0, 166, 81, 1) 0%,
      rgba(141, 198, 63, 1) 71%
    );
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }

  .profissionais-pax{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

  }

  .tipo-exames-pax{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .tipo-exames-pax{
    width: 100%;
  }

  @media (max-width: 2400px) {
    .image-container {
      width: 100%;
    }

    .image-container img {
      width: 100%;
    }
  }
}
